@import url(https://fonts.googleapis.com/css?family=opensans:500);

.pag404 {
  background: #33cc99;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  max-height: 700px;
  overflow: hidden;
}

.pag404__content {
  text-align: center;
  display: block;
  position: relative;
  width: 100%;
  margin: 8px auto;
}

.pag404__404 {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px;
}

.pag404__text--1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%;
}

.pag404__text--2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}

.pag404__btn {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  color: #33cc99;
  text-decoration: none;
  margin-right: 10px;
}

.pag404__btn:hover{
  text-decoration: none;
  background-color: black;
  color: rgb(5, 233, 16);
}

.pag404__cloud {
  width: 350px;
  height: 120px;
  background: #FFF;
  border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s;
}

.pag404__cloud:after,
.pag404__cloud:before {
  content: '';
  position: absolute;
  background: #FFF;
  z-index: -1;
}

.pag404__cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
}

.pag404__cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
}

.pag404__cloud--x1 {
  top: -50px;
  left: 100px;
  transform: scale(0.3);
  opacity: 0.9;
  animation: pag404__moveclouds 15s linear infinite;
}

.pag404__cloud--x1_5 {
  top: -80px;
  left: 250px;
  transform: scale(0.3);
  animation: pag404__moveclouds 17s linear infinite;
}

.pag404__cloud--x2 {
  left: 250px;
  top: 30px;
  transform: scale(0.6);
  opacity: 0.6;
  animation: pag404__moveclouds 25s linear infinite;
}

.pag404__cloud--x3 {
  left: 250px;
  bottom: -70px;
  transform: scale(0.6);
  opacity: 0.8;
  animation: pag404__moveclouds 25s linear infinite;
}

.pag404__cloud--x4 {
  left: 470px;
  bottom: 20px;
  transform: scale(0.75);
  opacity: 0.75;
  animation: pag404__moveclouds 18s linear infinite;
}

.pag404__cloud--x5 {
  left: 200px;
  top: 300px;
  transform: scale(0.5);
  opacity: 0.8;
  animation: pag404__moveclouds 20s linear infinite;
}

@keyframes pag404__moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
