/* Asegura que el contenedor esté correctamente posicionado */
.search-form {
  position: relative;
  display: inline-block;
}


.nav_search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buscador {
  position: absolute;
  top: -10px;
  width: 340px;
  z-index: 1000;
  margin-left: 8px;
  padding: 15px 20px;
  border: 2px solid #ccc;
  border-radius: 40px;
  color: aliceblue;
  background-color: #44206a; 
}

.buscador::placeholder {
  color: aliceblue;
}

/* Lista de sugerencias */
.suggestions-list {
  width: 100%;
  position: absolute;
  top: 30px; 
  background-color: #44206a;
  border-radius: 10px;
  list-style-type: none;
  top: 100%; 
  margin-left: 10px;
  color:#ffffff;
  border: 1px solid #ddd;
  width: 340px;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: aliceblue;
}

.suggestion-item:hover {
  background-color: #57347a;
}

@media (max-width: 1206px) {
 
  .suggestions-list {
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
 

  .suggestions-list {
    margin-top: 0px;
  }

} 
  
/* Media query para pantallas de 640px o menos */
@media (max-width: 640px) {
  .buscador {
    width: 200px; /* Ajusta el ancho a 200px en pantallas pequeñas */
  }

  .suggestions-list {
    width: 200px; /* Ajusta el ancho a 200px en pantallas pequeñas */    
  }
}

@media (max-width: 360px) {
  .buscador {
    width: 140px; /* Ajusta el ancho a 200px en pantallas pequeñas */
  }

  .suggestions-list {
    width: 140px; /* Ajusta el ancho a 200px en pantallas pequeñas */
  }
}