.general {
    background-color: #34495e;
    margin: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: Arial, sans-serif;
  }

  @media (max-width: 415px){
    .general{
      margin: 8px;
    }
  }

  .weather-container {
      font-family: Arial, sans-serif;
      background-color: rgb(255,255,255, .1); /* Keep this line */
      backdrop-filter: blur(30px);
      color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      max-width: 1110px;
      margin: 0 auto;
    }
    
    .weather-header {
      display: flex;
      justify-content: space-between;
      /* margin-bottom: 20px; */
      margin-left: 2px;
    }