/* Comentario.css */
.comentario-container {
    display: flex;
    flex-direction: column;
  }
  
  .btn-link.view-comments-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    padding: 0;
    font-size: 1rem;
    background-color: rgb(88, 87, 87);
  }
  
  .btn-link.view-comments-button:hover {
    color: #0056b3;
  }
  
  .mt-4 {
    margin-top: 1.5rem; /* Ajusta este valor según sea necesario */
  }
  