/* forgot-password.css */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6; /* Color de fondo gris claro */
  }
  
  .forgot-password-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    outline: none;
  }
  
  .forgot-password-input:focus {
    border-color: #4c51bf; /* Color de borde azul al hacer foco */
    box-shadow: 0 0 5px rgba(0, 82, 204, 0.5);
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 14px;
    background-color: #4c51bf; /* Color de fondo azul */
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-button:hover {
    background-color: #434190; /* Fondo azul oscuro al pasar el ratón */
  }
  
  .forgot-password-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 82, 204, 0.5);
  }
  