
.form-editar{
  margin-bottom: 10px;
}

.circular-image {
  height: 5.5rem; /* 24 unidades en rem para adaptar al tamaño h-24 */
  width: 5.5rem; /* mismo tamaño que la altura para que sea un círculo */
  
  border-radius: 50%; /* hace que la imagen sea un círculo */
  margin-right: 10px;
}

.circular-image:hover {
  opacity: 0.4; /* cambia la opacidad en el hover */
}


/* añadir cuenta */

.spacer {
  margin-top: 45px; /* Ajusta el valor según lo necesario */
}

.cuenta:hover {
  background-color: #0224e6;
  cursor: pointer;
  color: #fefefe;
}

/* visibilidad perfil */
.boton-editar-perfil {
  background-color: #4e2071; /* Fondo morado */
  color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.5rem 1rem; /* Padding */
  border-radius: 0.375rem; /* Border radius */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  border-radius: 150px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.boton-editar-perfil:hover {
  color: #000000; /* Texto negro en hover */
  background-color: #ffffff;
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

.bloque_perfil {
  border: 3px solid #000000;
  border-radius: 10px;
}

.foto_perfil {
  height: 50px;
}

.no-underline {
  /* background-color: #4a00a6; */
  /* hover:text-black */
}

.no-underline:hover {
  background-color: #4a00a6;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contenedor-form-editar-botones {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 1rem; /* Opcional: Espacio entre los botones */
  margin: 0px auto;
}

.boton-form-editar-perfil {
  background-color: #202c71; /* Fondo morado */
  color: #ffffff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.7rem 1rem; /* Padding */
  border-radius: 150px; /* Bordes redondeados */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.boton-form-editar-perfil:hover {
  color: #ffffff; /* Texto blanco en hover */
  background-color: #0fae4e; /* Fondo verde en hover */
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

.input-editar {
  border-radius: 50px;
}

.input-editar:hover {
  background-color: #c5c5c5;
  color: #000000;
}

.editar-perfil-foto:hover {
  opacity: 0.4;
  cursor: pointer;
}

.contenedor_iconos {
  opacity: 0;
  cursor: pointer;
  gap:8px
}

.contenedor_iconos:hover {
  opacity: 1;
}

.icono_camara{
  margin: 3px;
}

/* Modal añadir foto */
.contenedor-modal-perfil {
  background-color: #b6bcdf;
  width: 400px;
}

/* CSS para el contenedor de la imagen */
.contedor-añadir-img {
  margin: 25px;
  width: 150px; /* Tamaño del contenedor */
  height: 150px; /* Tamaño del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS para la imagen dentro del contenedor */
.contedor-añadir-img img {
  width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
  height: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
  object-fit: cover;
  border-radius: 50%;
}

.contenedor-form-añadir-foto-botones {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 1rem; /* Opcional: Espacio entre los botones */
}

.boton-form-añadir-foto {
  margin: 50px 0px 0px 0px;
  background-color: #ffffff; /* Fondo morado */
  color: #000000; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 0.7rem 0.5rem; /* Padding */
  border-radius: 150px; /* Bordes redondeados */
  cursor: pointer; /* Cursor pointer */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  border: 1px solid #000000;
}

.boton-form-añadir-foto:hover {
  color: #ffffff; /* Texto blanco en hover */
  background-color: #0fae4e; /* Fondo verde en hover */
  font-size: medium;
  transform: scale(1.1); /* Agranda el botón */
}

.hidden {
  display: none;
}

/* Ajuste del círculo con imagen */
.w-24 {
  width: 6rem; /* Ajusta el tamaño del círculo */
  height: 6rem; /* Ajusta el tamaño del círculo */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio sin deformarse */
  border-radius: 50%; /* Hace que la imagen tenga forma circular */
  margin-bottom: 1rem; /* Espaciado inferior para que se vea bien */
}


/* Modal de añadir o borrar img */
/* perfil.css */
