/* Contenedor de mapa */
.mapa {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;  /* Para asegurarse de que el mapa no se solape con otros componentes */
}

/* Estilos del contenedor de StationInfo para evitar superposiciones */
.contenedor-panel {
  padding: 20px;
  margin-top: 20px; /* Espacio entre el mapa y la información */
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1450px;
  margin: 0 auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Panel de información */
.panel {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* En el caso de que el contenido de la estación ocupe mucho espacio, podemos añadir esta clase */
.station-info-container {
  max-height: 400px;
  overflow-y: auto; /* Permite desplazamiento vertical si la información es demasiado larga */
}
